@import url('https://fonts.googleapis.com/css2?family=Roboto:300,400,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
}

.header-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.header-logo, .header-list {
    display: inline-block;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    margin-top: 25px;
}

.header-list { 
    position: absolute;
    right: 0px;
    font-weight: 600;
}

.header-list li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0px 0px 17px;
}

.header-list li a {
    color: #e5e7eb;
    text-decoration: none;
}

