@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;100i;300;300i;400;400i;500;500i;700;700i;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
}

.header-container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.header-logo, .header-list {
    display: inline-block;
}

.header-logo {
    color: #f9faf8;
    font-size: 28px;
    font-weight: 900;
    margin-top: 25px;
}

.header-list { 
    position: absolute;
    right: 0px;
    font-weight: 600;
}

.header-list li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin: 25px 0px 0px 17px;
}

.header-list li a {
    color: #c8ccd5;
    text-decoration: none;
}

.header-text {
    margin: 140px 0px 0 0px;
    padding: 0 0 140px 0;
    position: relative;
}

.header-text h2 {
    font-size: 60px;
    font-weight: 900;
    color: #f9faf8;
    width: 450px;
}

.header-text p {
    color: #c8ccd5;
    font-size: 23px;
    width: 560px;
    margin-top: 5px;
}

.header-button {
    padding: 12px 50px 12px 50px;
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 22px;
    border-style: none;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 20px;
}

.header-button:hover {
    background-color: #3872f6;
    cursor: pointer;
}

.header-text img {
    width: 650px;
    height: 300px;
    background-color: #c8ccd5;
    position: absolute;
    right: 0px;
    top: 0px;
}

.info-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.info h3 {
    font-size: 50px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 40px;
}

.info ul li {
    width: 200px;
    display: inline-block;
    margin: 60px 40px 100px 40px;
    font-size: 20px;
    color:#1f2937;
}

.info ul li img {
    width: 200px;
    height: 200px;
    border: 6px solid #3882f6;
    border-radius: 15px;
}

.info ul li img:hover {
    background-color: #f9faf8;
    cursor: pointer;
}

.quote-section {
    background-color: #E5E7EB;
    height: 550px;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3em;
}

.quote-author {
    padding-top: 10px;
    font-size: 28px;
    font-weight: 700;
    float: right;
}

.slider-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quotes-container {
    width: 80%;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 40px;
}

.btn {
    background-color: #bcbec2;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-style: none;
    position: absolute;
}

#prev {
    left: 10px;
}

#next { 
    right: 10px;
}

.btn:hover {
    background-color: #c5c6c7;
    cursor: pointer;
}

footer {
    height: 200px;
}